extends layout

block content
  .login
    form(method="post" action="/auth/login")
      table
        tr
          td Username
          td
            input(type="text" name="username")
        tr
          td Password
          td
            input(type="password" name="password")
        tr
          td
          td
            input.submit(type="submit" value="Login")